/* General Site */
html, body {
    height: 100%;
}

body {
    background-color: #f2f2f2;
}

.navbar {
    margin-bottom: 0px;
}

.brand a,
.brand a:focus,
.brand a:hover {
    color: #fff;
}

a,
a:focus,
a:hover {
    color: #555;
}

.jumbotron {
    /* Looks cool but commented out as it results in very slow performance on Chrome MAC */
    /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
    /*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
    background-color: #333;
    height: 60%;
    min-height: 300px;
    padding: 20px 0px;
}

.jumbotron .container {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

footer {
    text-align: center;
    margin-top: 30px;
}

header {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
}

header h3 {
    margin-top: 10px;
}

/*
    Header inspired by Layout inspired by @mdo's (https://twitter.com/mdo) Cover Template (http://getbootstrap.com/examples/cover/)
 */
.masthead-nav > li {
    display: inline-block;
    margin: 0 15px;
}

.masthead-nav > li + li {
    margin-left: 0;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

div#bigChart {
    height: 100%;
}

@media (min-width: 768px) {
    header .brand {
        float: left;
    }
    header .masthead-nav {
        float: right;
    }

    .jumbotron {
        height: 80%;
        min-height: 500px;
    }

    .masthead-nav > li {
        margin: 0;
    }

    .masthead-nav > li + li {
        margin-left: 20px;
    }
}

/* Chart specific styling */
svg {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #BBBBBB;
    shape-rendering: crispEdges;
}

text {
    fill: #DDDDDD;
}

path {
    fill: none;
    stroke-width: 1;
}

path.candle {
    stroke: #000000;
}

path.candle.body {
    stroke-width: 0;
}

path.candle.wick {
    stroke-width: 1;
}

path.candle {
    fill: #777777;
    stroke: #777777;
}

path.candle.up {
    fill: #00AA00;
    stroke: #00AA00;
}

path.candle.down {
    fill: #FF0000;
    stroke: #FF0000;
}

.closeValue.annotation.up path {
    fill: #00AA00;
}

path.volume {
    fill: #555555;
}

.indicator-plot path.line {
    fill: none;
    stroke-width: 1;
}

.ma-0 path.line {
    stroke: #1f77b4;
}

.ma-1 path.line {
    stroke: #aec7e8;
}

.ma-2 path.line {
    stroke: #ff7f0e;
}

button {
    position: absolute;
    right: 110px;
    top: 25px;
}

path.macd {
    stroke: #aec7e8;
}

path.signal {
    stroke: #FF9999;
}

path.zero {
    stroke: #BBBBBB;
    stroke-dasharray: 0;
    stroke-opacity: 0.5;
}

path.difference {
    fill: #777777;
}

path.rsi {
    stroke: #aec7e8;
}

path.overbought, path.oversold {
    stroke: #FF9999;
    stroke-dasharray: 5, 5;
}

path.middle, path.zero {
    stroke: #BBBBBB;
    stroke-dasharray: 5, 5;
}

.analysis path, .analysis circle {
    stroke: yellow;
    stroke-width: 0.7;
}

.interaction path, .interaction circle {
    pointer-events: all;
}

.interaction .body {
    cursor: move;
}

.trendlines .interaction .start, .trendlines .interaction .end {
    cursor: nwse-resize;
}

.trendline circle {
    stroke-width: 0;
    display: none;
}
.mouseover .trendline path {
    stroke-width: 1;
}

.mouseover .trendline circle {
    stroke-width: 1;
    fill: yellow;
    display: inline;
}

.supstance path {
    stroke-dasharray: 2, 2;
}

.supstances .interaction path {
    pointer-events: all;
    cursor: ns-resize;
}

.supstances .axisannotation {
    display: none;
}

.supstances .mouseover .axisannotation {
    display: inline;
}

.supstances .axisannotation path {
    fill: #806517;
    stroke: none;
}

.mouseover .supstance path {
    stroke-width: 1.5;
}

.crosshair {
    cursor: crosshair;
}

.crosshair path.wire {
    stroke: #555555;
    stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
    fill: #777777;
}